@import '@/theme/variables';
@import '@/theme/mixins';

.sliderContainer {
  position: relative;
  overflow: hidden;
  @media (max-width: $small-medium-desktop) {
  }
  @media (max-width: $small-desktop) {
  }
  @media (max-width: $tablet) {
  }
  @media (max-width: $mobile) {
  }

  .image {
    width: 100%;
    object-fit: cover;
    max-height: 910px;
    @media (max-width: $large-desktop) {
      height: 910px;
    }
    @media (max-width: $desktop) {
      height: 780px;
    }
    @media (max-width: $small-medium-desktop) {
      height: 688px;
    }
    @media (max-width: $small-desktop) {
      height: 560px;
    }
    @media (max-width: $tablet) {
      height: 520px;
    }
    @media (max-width: $mobile) {
      display: none;
      visibility: hidden;
    }
  }
  .imageSmall {
    display: none;
    visibility: hidden;
    height: 720px;
    width: 100%;
    object-fit: cover;
    @media (max-width: $mobile) {
      display: block;
      visibility: visible;
    }
  }
}
