@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  width: 40.5rem;
  height: fit-content;
  position: absolute;
  left: 120px;
  top: 170px;
  background: linear-gradient(
    88.42deg,
    rgba(36, 27, 7, 0.4) 3.16%,
    rgba(226, 207, 192, 0.4) 148.59%
  );
  border-radius: 1.25rem;
  padding: 0.68rem;
  color: $white-text;
  @media (max-width: $small-medium-desktop) {
    left: 80px;
    top: 140px;
    width: 645px;
    box-sizing: border-box;
  }
  @media (max-width: $small-desktop) {
    left: 40px;
    top: 116px;
    width: 33.875rem;
    height: min-content;
  }
  @media (max-width: $tablet) {
    width: 26.375rem;
    width: clamp(24rem, 55vw, 26.375rem);
    height: auto;
    left: 40px;
  }
  @media (max-width: $mobile) {
    left: 20px;
    max-width: 24rem;
  }
}
.header {
  @include text-h2;
  @media (max-width: $small-medium-desktop) {
    font-size: 2.5rem; // 48px / 16
  }
  @media (max-width: $small-desktop) {
    font-size: 2.25rem;
  }
  @media (max-width: $tablet) {
    @include text-card-title;
  }
}
.subheader {
  @include text-big-button;
  text-align: right;
  padding-bottom: 0.87rem;
  @media (max-width: $small-medium-desktop) {
    @include text-medium-button;
    margin-top: -12px;
    padding-right: 5px;
    letter-spacing: 0.02rem;
  }
  @media (max-width: $small-desktop) {
    @include text-small;
    text-align: right;
    margin-top: -8px;
    padding-right: 0px;
  }
  @media (max-width: $tablet) {
    @include tablet-main-text;
    font-weight: 600;
    margin-top: -2px;
  }
  @media (max-width: $mobile) {
    margin-top: -5px;
  }
}
.text {
  @include text-big-button;
  padding-bottom: 0.87rem;
  @media (max-width: $small-medium-desktop) {
    @include text-medium-button;
    margin-top: -8px;
    padding-right: 5px;
  }
  @media (max-width: $small-desktop) {
    @include text-small;
    margin-top: -4px;
  }
  @media (max-width: $tablet) {
    @include text-extra-small;
  }
}
