@import '@/theme/variables';
@import '@/theme/mixins';
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 24px;
  gap: 32px;
  width: 538px;
  height: 186px;

  background: #fffbf8;
  border: 1px solid #a6b7a9;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  .iconContainer {
    border-radius: 60px;
    background: #f7a400;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -9px;
    width: 120px;
    height: 120px;

    .iconContainerTwo {
      position: relative;
      top: 5%;
      left: 5%;
      background: #a6b7a9;
      box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
      width: 120px;
      height: 120px;
      border-radius: 50%;

      .icon {
        position: relative;
        top: 19%;
        left: 18%;
      }
    }
  }

  .description {
    @include text-accent;
    margin: 0;
  }

  @media (max-width: $small-desktop) {
    width: 464px;
    margin-bottom: 8px;
    gap: 33px;

    .iconContainer {
      top: -5%;

      .icon {
        top: 19%;
        left: 18%;
      }
    }

    .description {
      @include text-small;
    }
  }

  @media (max-width: $tablet) {
    width: 336px;
    height: 150px;
    padding: 16px 4px 8px;
    gap: 23px;
    margin-bottom: 8px;

    .iconContainer {
      width: 100px;
      height: 100px;
      top: -11%;
      left: 1%;

      .iconContainerTwo {
        width: 100px;
        height: 100px;
        top: 7%;
        left: 6%;

        .icon {
          width: 60px;
          height: 60px;
          top: 21%;
          left: 21%;
        }
      }
    }

    .description {
      @include mobile-h5;
      font-weight: 600;
      position: relative;
      top: -3%;
    }
  }

  @media (max-width: $mobile) {
    width: 380px;
    height: 150px;
    padding: 16px 8px;
    gap: 23px;
    margin-bottom: 0;
    position: relative;
    left: -34px;

    .iconContainer {
      top: -6%;
      left: 0;

      .icon {
        top: 18%;
        left: 19%;
      }
    }

    .description {
      @include text-extra-small;
      top: 1%;
    }
  }
}
