@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  align-self: flex-start;
  @media (max-width: 600px) {
    margin-bottom: 16px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  span {
    display: inline-block;
    height: 36px;
    color: $white-text;
    position: relative;
    cursor: pointer;
  }
  span:hover {
    color: $background-two;
  }
  span::after {
    display: inline;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: $white-text;
  }
  span:hover::after {
    background-color: $white-text;
  }
}

@media screen and (max-width: $small-medium-desktop) {
  .wrapper {
    ul {
      margin-top: 12px;
      span {
        height: 30px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    ul {
      gap: 8px;
      margin-top: 0;
      span {
        display: inline-flex;
        align-items: center;
        height: 36px;
      }
    }
  }
}
