@import '@/theme/variables';
@import '@/theme/mixins';

.firstViewSection {
  background-size: cover;
  background-position: center;
  height: 780px;
  width: 100%;
  position: relative;
  background-image: url('/img/hero/mainPhoto.png');

  .wrapper {
    width: 41.5rem; //665px;
    height: 17.4rem; //279px;
    height: fit-content;

    position: absolute;
    left: 120px;
    top: 170px;

    background: linear-gradient(
      88.42deg,
      rgba(36, 27, 7, 0.4) 3.16%,
      rgba(226, 207, 192, 0.4) 148.59%
    );
    border-radius: 1.25rem; //20px;
    padding: 0.68rem; //11px;
    color: $white-text;

    .header {
      @include text-h2;
    }
    .aboveHeader {
      @include text-big-button;
      text-align: right;
      padding-bottom: 0.87rem;
    }
    .text {
      @include text-big-button;

      &:first-of-type {
        padding-bottom: 0.87rem;
      }
    }

    @media (max-width: $small-desktop) {
      & {
        left: 40px;
      }
    }
    @media (max-width: $tablet) {
      & {
        top: 170px;
        width: 70%;
        height: fit-content;

        .header {
          @include text-card-title;
        }
        .aboveHeader {
          @include text-accent;
        }
        .text {
          @include text-small;
        }
      }
    }

    @media (max-width: $mobile) {
      & {
        left: 20px;
        top: 170px;
        width: 85%;
        height: fit-content;

        .header {
          @include text-card-title;
        }
        .aboveHeader {
          @include text-accent;
        }
        .text {
          @include text-small;
        }
      }
    }
  }

  .photoAutor {
    position: absolute;
    bottom: 1rem;
    right: 120px;

    .autor {
      color: $white-text;
      font-size: 0.875rem;
      font-weight: 600;
    }

    @media (max-width: $small-desktop) {
      & {
        right: 64px;
      }
    }
    @media (max-width: $tablet) {
      & {
        right: 40px;
      }
    }
    @media (max-width: $mobile) {
      & {
        right: 20px;
      }
    }
  }

  @media (max-width: $mobile) {
    & {
      height: 595px;
      // якщо середня висота смартфона з 16:9 – приблизно 747 пікселів, то це щоб банер повністю помістився
    }
  }
}
