@import '@/theme/variables';
@import '@/theme/mixins';

.firstViewSection {
  position: relative;
  width: 100%;
  margin-bottom: -4px;
  .photoAutor {
    position: absolute;
    bottom: 1rem;
    right: 120px;
    .autor {
      color: $white-text;
      font-size: 0.875rem;
      font-weight: 600;
    }
    @media (max-width: $small-desktop) {
      right: 40px;
    }
    @media (max-width: $tablet) {
      font-size: 10px;
    }
  }
}
