@import '@/theme/variables';
@import '@/theme/mixins';

.firstViewSection {
  // background-size: cover;
  // background-position: center;
  // background-image: url('/img/hero/mainPhoto.png');
  position: relative;
  width: 100%;
  // height: 780px;
  // height: auto;

  .wrapper {
    width: 40.5rem;
    height: 17.4rem; //279px;
    height: fit-content;

    position: absolute;
    left: 120px;
    top: 170px;

    // background: linear-gradient(
    //   88.42deg,
    //   rgba(36, 27, 7, 0.4) 3.16%,
    //   rgba(226, 207, 192, 0.4) 148.59%
    // );
    background: linear-gradient(
      60deg,
      rgba(17, 74, 62, 0.8) 3.16%,
      #ffffff00 148.59%
    );
    border-radius: 1.25rem; //20px;
    padding: 0.68rem; //11px;
    color: $white-text;

    .header {
      @include text-h2;
    }
    .aboveHeader {
      @include text-big-button;
      text-align: right;
      padding-bottom: 0.87rem;
    }
    .text {
      @include text-big-button;
      padding-bottom: 0.87rem;
    }
    // wrapper s/////////////////
    @media (max-width: $small-desktop) {
      left: 40px;
      top: 116px;
      width: 33.5rem; //565px;
      height: min-content;

      .header {
        font-size: 2rem;
      }
      .aboveHeader {
        @include text-big-button; //24px
        text-align: right;
      }
      .text {
        @include text-medium-button; //20px
      }
    }

    @media (max-width: $tablet) {
      width: 26rem;
      height: auto;
      left: 40px;

      .header {
        @include text-card-title;
      }
      .aboveHeader {
        @include text-accent;
      }
      .text {
        @include text-extra-small;
      }
    }

    @media (max-width: $mobile) {
      left: 20px;
      width: 85%;
      width: 22rem;
    }
  }

  .photoAutor {
    position: absolute;
    bottom: 1rem;
    right: 120px;

    .autor {
      color: $white-text;
      font-size: 0.875rem;
      font-weight: 600;
    }

    @media (max-width: $small-desktop) {
      right: 40px;
    }
    @media (max-width: $tablet) {
      font-size: 10px;
    }
  }

  @media (max-width: $mobile) {
    // height: 120vh;
  }
}
