@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  padding: 100px 120px;
  gap: 120px;
  background-color: $background-one;
  @media (max-width: $desktop) {
    gap: 65px;
  }
  @media (max-width: 1280px) {
    padding: 100px 80px;
    gap: 20px;
  }
  @media (max-width: $small-desktop) {
    padding: 80px 40px;
    gap: 7px;
  }
  @media (max-width: $tablet) {
    padding: 60px 40px;
  }
  @media (max-width: $mobile) {
    padding: 40px 20px;
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

.article {
  width: 611px;
  flex-shrink: 0;
  @media (max-width: $desktop) {
    width: 586px;
  }
  @media (max-width: 1280px) {
    width: 550px;
  }
  @media (max-width: $small-desktop) {
    width: 481px;
  }
  @media (max-width: $tablet) {
    width: 336px;
  }
  @media (max-width: $mobile) {
    width: auto;
  }
}

.header {
  @include text-h2;
  text-align: center;
  margin-bottom: 40px;
  white-space: nowrap;

  @media (max-width: $small-desktop) {
    @include text-subtitle;
  }
  @media (max-width: $tablet) {
    @include text-big-button;
    margin-bottom: 32px;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}

.text {
  & > p {
    @include text-accent;
    margin-bottom: 24px;
    @media (max-width: $desktop) {
      font-weight: 400;
    }
    @media (max-width: 1280px) {
      line-height: 134%;
      margin-bottom: 24px;
    }

    @media (max-width: $small-desktop) {
      @include text-small;
    }
    @media (max-width: $tablet) {
      @include text-extra-small;
    }
    @media (max-width: $mobile) {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  @media (max-width: $tablet) {
    @include text-big-button;
    margin-top: 32px;
  }
  @media (max-width: $mobile) {
    font-size: 18px !important;
    margin-top: 24px;
  }
}

.pictureСontainer {
  position: relative;
  flex: 1;
  display: flex; /* Flexbox для внутренних элементов */
  flex-direction: column; /* Выравнивание содержимого по вертикали */
  justify-content: space-between; /* Распределение содержимого */
  overflow: hidden;
  max-height: 490px;
  @media (max-width: $desktop) {
  }
  @media (max-width: $small-desktop) {
    max-width: 439px;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
  }
  @media (max-width: $mobile) {
    width: auto;
    height: auto;
    margin-bottom: 24px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 12px;
    @media (max-width: $desktop) {
      object-position: 75% 50%;
    }
    @media (max-width: $small-desktop) {
    }
    @media (max-width: $tablet) {
      height: 464px;
      object-position: 62% 100%;
    }
    @media (max-width: $mobile) {
      width: 380px;
      height: 400px;
      object-position: right;
    }
  }
}

.preheader {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    @include text-big-button;
    text-align: center;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.author {
  position: absolute;
  bottom: 22px;
  right: 18px;
  @include mobile-h5;
  color: $white-text;
  @media (max-width: 1280px) {
    font-size: 12px;
    bottom: 15px;
    right: 10px;
  }
  @media (max-width: $tablet) {
    right: 18px;
  }
  @media (max-width: $mobile) {
    right: 8px;
  }
}
