@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 100px 120px;
  // gap: 120px;
  background-color: $background-one;
  @media (max-width: $desktop) {
    // gap: 65px;
  }
  @media (max-width: 1280px) {
    padding: 100px 80px;
    // gap: 20px;
  }
  @media (max-width: $small-desktop) {
    padding: 80px 40px;
    // gap: 7px;
  }
  @media (max-width: $tablet) {
    padding: 60px 40px;
  }
  @media (max-width: 720px) {
    flex-direction: column-reverse;
    align-items: baseline;
    @media (max-width: $mobile) {
      padding: 40px 20px;
    }
  }
}
.article {
  width: 611px;
  flex-shrink: 0;
  @media (max-width: $desktop) {
    width: 586px;
  }
  @media (max-width: 1280px) {
    width: 49.5%;
  }
  @media (max-width: $small-desktop) {
    width: 51%;
  }
  @media (max-width: 925px) {
    width: 49%;
  }
  @media (max-width: 720px) {
    width: auto;
  }
}
.header {
  @include text-h2;
  text-align: center;
  margin-bottom: 40px;
  white-space: nowrap;
  @media (max-width: $small-desktop) {
    @include text-subtitle;
  }
  @media (max-width: 925px) {
    @include text-big-button;
    margin-bottom: 32px;
  }
  @media (max-width: 720px) {
    display: none;
  }
}
.text {
  & > p {
    @include text-accent;
    margin-bottom: 24px;
    @media (max-width: $desktop) {
      font-weight: 400;
    }
    @media (max-width: 1280px) {
      line-height: 150%;
      margin-bottom: 24px;
      font-size: 18px;
      letter-spacing: 0.027em;
    }
    @media (max-width: $small-desktop) {
      @include text-small;
      font-weight: 400;
    }
    @media (max-width: 925px) {
      @include text-extra-small;
    }
    @media (max-width: 720px) {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  @media (max-width: $tablet) {
    @include text-big-button;
    margin-top: 32px;
  }
  @media (max-width: 720px) {
    font-size: 18px !important;
    margin-top: 24px;
  }
}
.pictureСontainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-height: 490px;
  @media (max-width: 720px) {
    width: auto;
    height: auto;
    margin-bottom: 24px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 12px;
    @media (max-width: $desktop) {
      object-position: 75% 50%;
    }
    @media (max-width: $small-desktop) {
      object-position: 100% 50%;
    }
    @media (max-width: 925px) {
      object-position: 58% 100%;
    }
    @media (max-width: 720px) {
      object-position: right;
      height: 450px;
    }
    @media (max-width: $mobile) {
      height: 400px;
    }
  }
}
.preheader {
  display: none;
  @media (max-width: 720px) {
    display: block;
    @include text-big-button;
    text-align: center;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}
.author {
  position: absolute;
  bottom: 22px;
  right: 18px;
  @include mobile-h5;
  color: $white-text;
  @media (max-width: 1280px) {
    font-size: 12px;
    bottom: 15px;
    right: 10px;
  }
  @media (max-width: $tablet) {
    right: 18px;
  }
  @media (max-width: 720px) {
    right: 8px;
  }
}
