@import '@/theme/variables';
@import '@/theme/mixins';

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $footer;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 40px 27px;
  z-index: 3;
  transition: 0.3s ease;
  border-bottom: $white-text 3px solid;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  @media (max-width: $mobile) {
    padding: 24px 20px 45px;
  }
}

.logo {
  margin-bottom: 30px;
}

.closeIconWrapper {
  position: absolute;
  top: 31px;
  right: 47px;
  background: none;
  border: none;
  outline: none;
  @media (max-width: $mobile) {
    right: 27px;
  }
  &:hover {
    cursor: pointer;
    filter: $background-two;
  }
}

.closeIcon {
  filter: brightness(0) invert(1);
  &:hover {
    cursor: pointer;
  }
}

.navList {
  list-style-type: none;
}

.navItem {
  margin: 0 0 1.57rem 0;
  .navLink {
    color: $white-text;
    @include text-small;
    font-weight: 600;
    font-size: 1rem;
  }
  .navLink:hover,
  .navLink:focus {
    color: $background-two;
  }
}

.supportButtonMobileContainer {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    margin-top: 5px;
  }
}

.supportButtonMobile {
  font-size: 20px;
  white-space: nowrap;
  padding: 12px 24px !important;
}
