@import '@/theme/variables';
@import '@/theme/mixins';
.container {
  .wrapper {
    padding: 60px 120px;
    position: relative;
    top: 100px;

    h2 {
      @include text-h2;
      text-align: center;
      margin-bottom: 40px;
      padding-left: 15px;
    }
    ul {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      grid-column-gap: 40px;
      column-gap: 125px;
      grid-row-gap: 6px;
      row-gap: 24px;
    }

    @media (min-width: $large-desktop) {
      padding: 60px 242px;
      ul {
        column-gap: 120px;
      }
    }
    @media (max-width: 1356px) {
      padding: 80px 40px;
      ul {
        column-gap: 4%;
      }
    }

    @media (max-width: $small-desktop) {
      h2 {
        width: 944px;
        height: 48px;
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.01em;
        padding-left: 0;
        margin-bottom: 32px;
      }

      ul {
        gap: 16px;
      }
    }

    @media (max-width: $tablet) {
      padding: 60px 40px;

      h2 {
        @include text-big-button;
        margin-bottom: 13px;
        width: auto;
        padding-left: 15px;
      }

      ul {
        grid-template-columns: 336px 336px;
        gap: 16px;
      }
    }

    @media (max-width: 500px) {
      h2 {
        margin-bottom: 37px;
      }
      ul {
        grid-template-columns: 1fr;
        margin-left: 35px;
      }
    }
    @media (max-width: $mobile) {
      padding: 40px 20px;
      top: 0;

      h2 {
        @include text-big-button;
        width: 300px;
        padding: 0;
        margin: 0 auto;
      }

      ul {
        grid-template-columns: 1fr;
        position: relative;
        top: 46px;
      }
    }
  }
  // ////////////////////////////
  .secondWrapper {
    margin-top: 139px;
    height: 154px;
    background-image: url('/img/securityFrame.png');
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      color: $white-text;
      @include text-subtitle;
      margin: 0 auto;
      padding-left: 15px;
      max-width: 962px;
    }

    @media (max-width: $large-desktop) {
      background-image: url('/img/securityFrame1680.jpg');
      background-size: 101% 117%;
    }
    @media (max-width: $desktop) {
      background-image: url('/img/securityFrame.png');
      background-size: auto 100%;
    }
    @media (max-width: $small-desktop) {
      background-image: url('/img/securityFrame1024.jpg');
      margin-top: 92px;
      height: 140px;
      background-size: 102% 128%;

      p {
        width: 698px;
        padding-left: 0;
        margin-left: 12%;
      }
    }
    @media (max-width: $tablet) {
      background-image: url('/img/securityFrame768.jpg');
      background-size: 102% 152%;
      margin-top: 91px;
      height: 120px;

      p {
        width: 541px;
        @include text-medium-button;
        margin-left: 40px;
      }
    }
    @media (max-width: $mobile) {
      margin-top: 56px;
      p {
        @include text-small;
        margin: 0 20px;
      }
    }
  }
}
