@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 160px;
  .textContainer {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      @include text-h1;
      font-size: 10rem;
      color: $background-reserved;
      margin-bottom: 28px;
      text-align: center;
    }
    .description {
      @include text-card-title;
      color: $black-text;
    }
  }
  .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    button {
      @include text-medium-button;
      color: $black-text;
      transition: none;
      &:hover {
        color: $white-text;
        background-color: $hover-buttons;
        border-radius: 11px;
        filter: none;
        &::after,
        &::before {
          display: none;
        }
        > a {
          color: $white-text;
        }
      }
    }
    a {
      @include text-medium-button;
      color: $black-text;
      &:hover {
        color: $white-text;
      }
    }
  }
}
