@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 160px;
    .textContainer {
      margin-bottom: 48px;
      .title {
        @include text-h1;
        font-size: 10rem;
        color: $background-reserved;
        margin-bottom: 28px;
      }
      .description {
        @include text-card-title;
        color: $black-text;
      }
    }
    .btnGroup {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      button,
      a {
        @include text-medium-button;
        color: $black-text;
      }
    }
  }
}
