@import '@/theme/variables';
@import '@/theme/mixins';

.modalOverlay {
  @include flex-center;
  position: fixed;
  inset: 0;
  z-index: 1000;
  backdrop-filter: blur(10px) brightness(60%);
  background-color: rgba(0, 0, 0, 0.5);

  .modalContent {
    @include flex-center;
    position: relative;
    padding-top: 1rem;
    height: 25.56rem; //409px
    width: 45.25rem; //724px
    overflow-y: auto;
    border-radius: 1.25rem;
    background-color: $modal-bg;
    border: 1px solid $footer;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @media screen and (max-width: $large-desktop) {
      height: 24.5rem;
      width: 45rem;
    }
    @media screen and (max-width: $small-desktop) {
      height: 17.5rem;
      width: 39rem;
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      max-width: 525px;
      height: 235px;
      margin: 0 2%;
      padding: 8px;
      box-sizing: border-box;
    }
    @media screen and (max-width: $mobile) {
      max-width: 380px;
      height: 228px;
      margin: 0 3%;
      padding: 8px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .modalClose {
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
      @media screen and (max-width: $large-desktop) {
        right: 2.8rem;
        top: 2.5rem;
      }
      @media screen and (max-width: $small-desktop) {
        right: 2.35rem;
        top: 1.73rem;
      }
      @media screen and (max-width: $tablet) {
        right: 22px;
        top: 34px;
      }
      @media screen and (max-width: $mobile) {
        right: 27px;
        top: 22px;
      }

      img {
        @media screen and (max-width: $large-desktop) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
