@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  color: $black-text;
  width: 33%;
  display: flex;
  flex-direction: column;
  border-top: none;
  border: 2px solid $background-two;
  border-radius: 12px;
  @media (max-width: $small-desktop) {
    flex-direction: row;
    width: 100%;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  &.wrapperOpened {
    border: 1px solid $background-two;
    border-radius: 12px;
  }
  .backBtn {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
    width: 40px;
    height: 60px;
    svg {
      color: $black-text;
      &:hover,
      :active,
      :focus {
        color: $header;
      }
    }
  }
  .imageContainer {
    margin: -1px;
    flex-shrink: 0;
    @media (max-width: $small-desktop) {
      width: 34%;
    }
    @media (max-width: $tablet) {
      width: 46%;
    }
    @media (max-width: $mobile) {
      width: auto;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      animation: opacity 0.5s ease-in-out;
      @media (max-width: $small-desktop) {
        max-height: 302px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      @media (max-width: $mobile) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 16px;
    &.descriptionOpened {
      border: none;
    }
    .textContainer {
      flex-grow: 1;
      header {
        margin-bottom: 16px;
        text-align: center;
        h2 {
          @include text-accent;
          font-weight: 600;
          @media (max-width: $tablet) {
            @include text-small;
            font-weight: 600;
            @media (max-width: $tablet) {
              @include text-accent;
              font-weight: 600;
            }
          }
        }
        @media (max-width: $small-desktop) {
          text-align: left;
        }
        @media (max-width: $mobile) {
          text-align: center;
        }
      }
      .text {
        @include text-accent;
        font-weight: 400;
        display: -webkit-box;
        margin-bottom: 14px;
        @media (max-width: $small-desktop) {
          @include small-desktop-main-text;
        }
        @media (max-width: $tablet) {
          @include tablet-main-text;
        }
        @media (max-width: $mobile) {
          @include mobile-main-text;
        }
        &.closed {
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          max-height: 150px;
          line-clamp: 5;
          -webkit-line-clamp: 5;
          padding-bottom: 0;
          animation:
            unLiftText 0.6s ease-in-out,
            opacity 0.6s ease-in-out;
        }
        &.opened {
          max-height: 600px;
          line-clamp: none;
          -webkit-line-clamp: none;
          margin-bottom: 0;
          animation: liftText 0.6s ease-in-out;
        }
      }
    }
    .readMoreBtn {
      margin-left: auto;
      font-weight: 600;
    }
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes unLiftText {
  from {
    transform: translate(0, -150px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes liftText {
  from {
    transform: translate(0, 150px);
  }
  to {
    transform: translate(0, 0);
  }
}
