@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  color: $black-text;
  width: 33%;
  display: flex;
  flex-direction: column;
  border-top: none;
  border: 2px solid $background-two;
  border-radius: 12px;
  box-sizing: border-box;

  @media (max-width: 1280px) {
    flex-direction: row;
    width: 100%;
    gap: 24px;
  }

  @media (max-width: $small-desktop) {
    gap: 16px;
  }

  @media (max-width: $tablet) and (min-width: 561px) {
    height: 306px !important;
  }

  @media (max-width: 560px) {
    flex-direction: column;
    height: auto;
  }

  &.wrapperOpened {
    border-radius: 12px;
    align-self: stretch;

    .imageContainer {
      display: none;
    }
  }

  &.wrapperClosed {
    align-self: stretch;
  }

  .titleWrapper {
    display: inline-flex;
    gap: 16px;
    align-items: center;

    .title {
      display: none;

      @media (max-width: 1280px) {
        display: block;
      }

      @media (max-width: 560px) {
        display: none;
      }
    }

    .backBtn {
      cursor: pointer;
      padding: 0;
      border: 0;
      background: none;
      width: 24px;
      height: 36px;
      margin-bottom: 8px;

      @media (max-width: 1280px) {
        width: 40px;
        height: 50px;
      }

      svg {
        color: $black-text;

        &:hover,
        :active,
        :focus {
          color: $header;
        }
      }
    }
  }

  .imageContainer {
    margin: -1px;
    flex-shrink: 0;

    @media (min-width: 1281px) {
      height: 407px !important;
    }

    @media (max-width: 1280px) {
      width: 41%;
      height: 309px !important;
    }

    @media (max-width: 1024px) {
      margin: 0;
      width: 34%;
      height: 302px !important;
    }

    @media (max-width: $tablet) {
      width: 46%;
      height: 306px !important;
    }

    @media (max-width: 560px) {
      width: 100%;
      height: 271px !important;
    }

    img {
      width: 100%;
      display: block;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      animation: opacity 0.5s ease-in-out;
      height: 100%;

      @media (max-width: 1280px) {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      @media (max-width: 560px) {
        object-position: top;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;

    &.descriptionOpened {
      border: none;
      padding: 12px;

      @media (max-width: 1280px) {
        padding-top: 24px;
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (max-width: $small-desktop) {
        padding: 16px;
      }
    }

    &.descriptionClosed {
      padding: 16px;

      @media (max-width: 1280px) {
        padding: 24px;
      }

      @media (max-width: $small-desktop) {
        padding: 16px;
      }
    }

    .textContainer {
      flex-grow: 1;

      header {
        text-align: center;

        @media (max-width: 1280px) {
          text-align: left;
        }

        @media (max-width: 560px) {
          text-align: center;
        }

        h2 {
          @include text-accent;
          font-weight: 600;

          @media (max-width: $tablet) {
            @include text-small;
            font-weight: 600;
          }
        }
      }
    }

    .text {
      @include text-accent;
      font-weight: 400;
      display: -webkit-box;

      @media (max-width: 1063px) {
        @include small-desktop-main-text;
      }
      @media (max-width: 837px) {
        @include tablet-main-text;
      }
      @media (max-width: 429px) {
        @include mobile-main-text;
      }

      &.closed {
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        padding-bottom: 0;
        margin-top: 8px;
        margin-bottom: 12px;
        animation:
          unLiftText 0.6s ease-in-out,
          opacity 0.6s ease-in-out;

        @media (max-width: 560px) {
          line-clamp: 4 !important;
          -webkit-line-clamp: 4 !important;
        }

        @media (max-width: $mobile) {
          line-clamp: 3 !important;
          -webkit-line-clamp: 3 !important;
        }
      }

      &.opened {
        line-clamp: none;
        -webkit-line-clamp: none;
        margin-bottom: 0;
      }
    }
  }

  .readMoreBtn {
    margin-left: auto;
    font-weight: 600;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes unLiftText {
  from {
    transform: translate(0, -150px);
  }
  to {
    transform: translate(0, 0);
  }
}
