@import './variables';

@mixin text-h1 {
  font-family: $font-family-base;
  font-size: 3rem; // 48px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-h2 {
  font-family: $font-family-base;
  font-size: 2.25rem; // 36px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-subtitle {
  font-family: $font-family-base;
  font-size: 1.75rem; // 28px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-card-title {
  font-family: $font-family-base;
  font-size: 1.5rem; // 24px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-accent {
  font-family: $font-family-base;
  font-size: 1.25rem; // 20px / 16
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-main {
  font-family: $font-family-base;
  font-size: 1.25rem; // 20px / 16
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-big-button {
  font-family: $font-family-base;
  font-size: 1.5rem; // 24px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-medium-button {
  font-family: $font-family-base;
  font-size: 1.25rem; // 20px / 16
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-small {
  font-family: $font-family-base;
  font-size: 1.125rem; // 18px / 16
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-extra-small {
  font-family: $font-family-base;
  font-size: 1rem; // 16px / 16
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
}

@mixin small-desktop-main-text {
  font-family: $font-family-base;
  font-size: 1.125rem; // 18px / 16
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 150%;
}

@mixin tablet-main-text {
  font-family: $font-family-base;
  font-size: 1rem; // 16px / 16
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 150%;
}

@mixin mobile-h5 {
  font-family: $font-family-base;
  font-size: 0.875rem; // 14px / 16
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
}

@mixin mobile-main-text {
  font-family: $font-family-base;
  font-size: 0.875rem; // 14px / 16
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 150%;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 800;
  white-space: nowrap;
  box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  background-color: $active-buttons;
  cursor: pointer;

  &:hover {
    background-color: $hover-buttons;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin section-padding {
  padding: 100px 120px;
  @media screen and (max-width: $small-medium-desktop) {
    padding: 100px 80px;
  }
  @media screen and (max-width: $small-desktop) {
    padding: 80px 40px;
  }
  @media screen and (max-width: $tablet) {
    padding: 60px 40px;
  }
  @media screen and (max-width: $mobile) {
    padding: 40px 20px;
  }
}

@mixin layout-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  margin: 0 120px;

  @media (max-width: $small-desktop) {
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    margin: 0 40px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 20px;
  }
}

@mixin grid-column {
  grid-column: span 12;

  @media (max-width: $small-desktop) {
    grid-column: span 8;
  }

  @media (max-width: $mobile) {
    grid-column: span 2;
  }
}
