@import 'normalize';
@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
// ⬆️ без цього у елементів зайві відступи
body {
  background-color: $background-one;
  color: $black-text;
  font-family: $font-family-base;
  position: relative;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
