@import '@/theme/variables';

.wrapper {
  color: $white-text;
  img:hover {
    content: url('/svg/logo-hover.svg');
  }
  @media (max-width: 600px) {
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}
