@import '@/theme/variables';
@import '@/theme/mixins';

*:not(button):not(.modalClose):not(.modalClose img) {
  cursor: default;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  display: flex;
  .closeContainer {
    position: relative;
    width: 1px;
    height: 1px;
    .modalClose {
      position: absolute;
      left: 64px;
      top: 0;
      height: 28px;
      width: 28px;
      cursor: pointer;
      img {
        @media screen and (max-width: $large-desktop) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  article {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }
}

.pageIndicator {
  @media (max-width: $tablet) {
  }
}

.pagination {
  width: 100%;
  button {
    margin: 0 5px;

    &:hover {
      background-color: $active-buttons;
    }
  }
}
