@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  overflow: scroll;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .article {
    width: 100%;
    height: 100%;
  }
  *:not(button) {
    cursor: default !important;
  }

  @media (max-width: $tablet) {
  }
}

.pageIndicator {
  @media (max-width: $tablet) {
  }
}

.pagination {
  width: 100%;
  button {
    margin: 0 5px;

    &:hover {
      background-color: $active-buttons;
    }
  }
}
