@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  background-color: $background-two;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 120px;

  @media (min-width: $large-desktop) {
    justify-content: space-evenly;
  }

  @media (max-width: $desktop) {
    padding: 80px 8%;
    gap: 24px;
  }

  @media (max-width: 1240px) {
    padding: 80px 40px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  @media (max-width: $tablet) {
    padding: 60px 40px;
  }

  @media (max-width: $mobile) {
    padding: 40px 20px;
    gap: 32px;
  }

  .imgWrapper {
    position: relative;
    width: 100%;

    @media (min-width: $large-desktop) {
      width: 586px;
    }

    @media (max-width: 1240px) {
      order: 1;
      width: 75%;
    }

    @media (max-width: $tablet) {
      order: 1;
      width: 100%;
    }

    .img {
      border-radius: 0.75rem; //12px
      width: 100%;

      @media (min-width: $desktop) {
        height: 714px !important;
        object-fit: cover;
      }

      @media (max-width: 1240px) {
        height: 400px !important;
        object-fit: cover;
      }
    }

    .author {
      color: $white-text;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.01em;
      position: absolute;
      bottom: 8px;
      right: 16px;
      z-index: 2;
    }
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 708px;

    .header {
      @include text-h2;
      text-align: center;
      padding-bottom: 40px;
      @media (max-width: $small-desktop) {
        @include text-subtitle;
      }
      @media (max-width: $tablet) {
        @include text-card-title;
      }
    }
  }
}
