@import '@/theme/mixins';

.feedbackLayout {
  @include flex-center-col;
  width: 100%;
  height: 100%;
  gap: 16px;
  margin-top: -16px;
  @media screen and (max-width: $large-desktop) {
    gap: 20px;
  }
  @media screen and (max-width: $desktop) {
    gap: 16px;
  }
  @media screen and (max-width: $mobile) {
    margin: 15px 0;
    gap: 8px;
  }

  .feedbackTitle {
    @include text-card-title;
    @media screen and (max-width: $large-desktop) {
      font-size: 20px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 18px;
    }
  }
  .feedbackText {
    @include text-accent;
    @media screen and (max-width: $tablet) {
      font-size: 16px;
      font-weight: 400;
    }
    @media screen and (max-width: $mobile) {
      font-size: 14px;
      text-align: center;
    }
  }
}
