@import '@/theme/mixins';

.wrapper {
  background-color: $background-one;
  padding: 100px 0;
  @media (max-width: $small-desktop) {
    padding-top: 60px;
  }
  @media (max-width: $mobile) {
    padding-top: 100px;
  }
  .layout {
    @include layout-grid;
    .container {
      @include grid-column;
      color: $black-text;
      .title {
        @include text-h2;
        text-align: center;
        margin-bottom: 16px;
        @media (max-width: $small-desktop) {
          @include text-subtitle;
        }
        @media (max-width: $tablet) {
          @include text-card-title;
        }
      }
      .subtitle {
        @include text-subtitle;
        text-align: center;
        margin-bottom: 40px;
        @media (max-width: $small-desktop) {
          @include text-card-title;
        }
        @media (max-width: $tablet) {
          @include text-accent;
          font-weight: 600;
        }
        @media (max-width: $mobile) {
          @include text-accent;
          font-weight: 600;
        }
      }
      .collection {
        display: flex;
        gap: 24px;
        @media (max-width: 1280px) {
          flex-direction: column;
          gap: 32px;
        }
        //  @media (max-width: 500px) {
        //   flex-direction: row;
        //   gap: 32px;
        // }
      }
    }
  }
}
