@import '@/theme/variables';
@import '@/theme/mixins';

.nextArrow,
.prevArrow {
  display: block;
  position: absolute;
  top: 67%;
  z-index: 4;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.nextArrow {
  right: 135px;
}

.prevArrow {
  left: 123px;
}
