@import '@/theme/variables';
@import '@/theme/mixins';

.wrapper {
  align-self: flex-start;
  @media (max-width: 600px) {
    margin-bottom: 1.5rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  li {
    display: flex;
    align-items: flex-end;
    height: 36px;
  }
  a {
    color: $white-text;
  }
  a:hover {
    color: $background-two;
  }
}

@media screen and (max-width: $small-medium-desktop) {
  .wrapper {
    ul {
      margin-top: 12px;
      li {
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: $small-desktop) {
  .wrapper {
    ul {
      li {
        width: 109px;
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .wrapper {
    ul {
      margin-top: 6px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    ul {
      margin-top: 0;
      gap: 8px;
      li {
        align-items: center;
        width: unset;
        height: 36px;
      }
    }
  }
}
