@import '@/theme/variables';
@import '@/theme/mixins';

.layout {
  @include section-padding;
  background-color: $background-two;

  h2 {
    @include text-h2;
    text-align: center;
    margin-bottom: 40px;
  }

  article {
    @include flex-center;
    flex-wrap: wrap;
    gap: 54px;
  }
}
