@import '@/theme/variables';
@import '@/theme/mixins';

.layout {
  padding: 100px 120px;
  background-color: $background-two;

  @media (max-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: $small-desktop) {
    padding: 60px 44px;
  }

  @media (max-width: $tablet) {
    padding: 60px;
  }

  @media (max-width: $mobile) {
    padding: 40px 20px 60px;
  }

  h2 {
    @include text-h1;
    font-size: 2.5rem; // 40px / 16
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $desktop) {
      @include text-h2;
    }

    @media (max-width: $small-desktop) {
      @include text-subtitle;
      margin-bottom: 32px;
    }

    @media (max-width: $tablet) {
      @include text-card-title;
    }
  }

  article {
    box-sizing: border-box;
    @include flex-center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 120px;
    align-items: flex-start;

    @media (max-width: $desktop) {
      column-gap: 54px;
    }

    @media (max-width: 1280px) {
      column-gap: 20px;
    }

    @media (max-width: 1240px) {
      column-gap: 55px;
    }

    @media (max-width: $small-desktop) {
      column-gap: 55px;
      row-gap: 24px;
    }

    @media (max-width: $tablet) {
      column-gap: 48px;
      row-gap: 32px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-content: center;
      column-gap: 0;
      row-gap: 24px;
    }
  }
}
