@import '@/theme/variables';
@import '@/theme/mixins';

.layout {
  padding: 110px 120px 130px;
  background-color: $background-two;

  @media (max-width: $desktop) {
    padding: 110px 120px 135px;
  }

  @media (max-width: $small-medium-desktop) {
    padding: 110px 80px 146px;
  }

  @media (max-width: $small-desktop) {
    padding: 76px 44px 60px;
  }

  @media (max-width: $tablet) {
    padding: 60px;
  }

  @media (max-width: $mobile) {
    padding: 40px 20px 60px;
  }

  h2 {
    @include text-h1;
    font-size: 2.5rem; // 40px / 16
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: $desktop) {
      @include text-h2;
    }

    @media (max-width: $small-medium-desktop) {
      margin-bottom: 64px;
    }

    @media (max-width: $small-desktop) {
      @include text-subtitle;
      margin-bottom: 48px;
    }

    @media (max-width: $tablet) {
      @include text-card-title;
      margin-bottom: 42px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 34px;
    }
  }

  article {
    box-sizing: border-box;
    @include flex-center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 120px;
    align-items: flex-start;
    @media screen and (min-width: $mobile) {
      transform: translateX(-100%);
      opacity: 0;
      &.animate {
        transform: translateX(0);
        opacity: 1;
        transition:
          transform 1.6s ease-out,
          opacity 1.6s ease-out;
      }
    }

    @media (max-width: $desktop) {
      column-gap: 54px;
    }

    @media (max-width: 1280px) {
      column-gap: 20px;
    }

    @media (max-width: 1240px) {
      column-gap: 55px;
    }

    @media (max-width: $small-desktop) {
      column-gap: 55px;
      row-gap: 24px;
    }

    @media (max-width: $tablet) {
      column-gap: 48px;
      row-gap: 42px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-content: center;
      column-gap: 0;
      row-gap: 24px;
    }
  }
}
