@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  // display: flex;
  // justify-content: space-between;
  // gap: 40px;
  // padding: 100px 120px;
  // box-sizing: border-box;
  display: grid;
  grid-template-columns: 65% auto;
  column-gap: 40px;

  // @media (min-width: $desktop) {
  //   align-items: center;
  //   padding: 100px 120px;
  // }
  // @media (max-width: 1280px) {
  //   padding: 100px 80px;
  // }
  // @media (max-width: $small-desktop) {
  //   padding: 80px 40px;
  // }
  @media (max-width: $tablet) {
    // flex-direction: column;
    // align-items: center;
    // padding-top: 60px;
    // padding-bottom: 60px;
    display: block;
  }
  // @media (max-width: $mobile) {
  //   padding: 40px 20px;
  // }
  // .sectionContent {
  //   @media (min-width: $large-desktop) {
  //     max-width: 49%;
  //     justify-content: center;
  //   }
  //   .header h2 {
  //     text-align: center;
  //     @include text-card-title;
  //     @media (max-width: 1280px) {
  //       @include text-accent;
  //       font-weight: 600;
  //     }
  //   }
  // }
  .imgContainer {
    // flex-shrink: 0;
    // width: 40.5%;
    grid-row-end: span 2;

    @media (max-width: $small-desktop) {
      width: 35%;
    }
    @media (max-width: $tablet) {
      width: 85%;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }

    .image {
      border-radius: 12px;
      width: 100%;
      height: auto;
      @media (max-width: $tablet) {
        max-height: 311px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
