@import '@/theme/variables';
@import '@/theme/mixins';

.application_text {
  width: 50%;
  @media screen and (max-width: $small-desktop) {
    width: 100%;
  }

  &_text {
    width: 27.6rem;
    @include text-small;
  }
}
