@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  width: auto;
  max-height: 80px;
  padding: 9px 120px 10px;
  background-color: $background-reserved;
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family-base;
  .iconBell {
    display: flex;
    align-items: center;
    padding-inline: 7px;
  }
  .collection {
    width: auto;
    overflow: hidden;
    margin-left: 27px;
    .text {
      font-size: 28px;
      font-weight: 600;
      color: $white-text;
      white-space: nowrap;
      display: inline-block;
      animation: scrollingText var(--duration) linear infinite;
      & > span {
        padding-right: 2.5rem;
      }
    }
  }
  .supportButton {
    margin-left: 15px;
    width: 243px;
  }
}

@keyframes scrollingText {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-1 * var(--text-width)), 0);
  }
}

@media (max-width: $small-desktop) {
  .container {
    padding: 8px 64px;
  }
}

@media (max-width: $tablet) {
  .container {
    padding: 8px 40px;
    .text {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    display: none;
  }
}
