@import '@/theme/variables';
@import '@/theme/mixins';

.container {
  width: auto;
  padding: 9px 120px 10px;
  background-color: $background-reserved;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family-base;
  margin-top: -4px;
  @media (max-width: 1280px) {
    padding: 9px 80px 10px;
  }
  @media (max-width: $small-desktop) {
    padding: 8px 40px 8px;
  }
  @media (max-width: 680px) {
    display: none;
  }
  .iconBell {
    display: flex;
    align-items: center;
    padding-inline: 7px;
  }
  .collection {
    width: auto;
    overflow: hidden;
    margin-left: 27px;
    @media (max-width: $tablet) {
      margin-left: 5px;
    }
    .text {
      font-size: 28px;
      font-weight: 600;
      color: $white-text;
      white-space: nowrap;
      display: inline-block;
      animation: scrollingText var(--duration) linear infinite;
      @media (max-width: 1280px) {
        font-size: 24px;
      }
      @media (max-width: $tablet) {
        font-size: 20px;
      }
      & > span {
        padding-right: 2.5rem;
      }
    }
  }
  .supportButton {
    margin-left: 15px;
    width: 243px;
  }
}

@keyframes scrollingText {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-1 * var(--text-width)), 0);
  }
}
