@import '@/theme/variables';

.inputWrapper {
  width: 100%;
  max-width: 40.3rem;
}

.input {
  width: 100%;
  height: 5.5rem;
  padding: 1.5rem;
  border-radius: 6px;
  border: 1px solid $black-text;
  outline: none;
  background: $white-text;
  color: $black-text;
  font-size: 15px;
  box-sizing: border-box;
  &::placeholder {
    color: $black-text;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.errorMessage {
  margin-left: 0.5rem;
  color: $red-signal;
  font-size: 12px;
  font-weight: 500;
}
